streamlit
langchain
langchain-google-genai
google-generativeai
pypdf
faiss-cpu
python-dotenv
#pip install -U langchain langchain-community langchain-core langchain-google-genai langchain-text-splitters